<!DOCTYPE html>
<html>
<head>
  <title>My Purchases</title>
  <link rel="stylesheet" href="/css/booking.css">
</head>
<body>
  <h1>My Purchases</h1>

  <div id="purchase-page">
    <% if (purchases.length === 0) { %>
      <p>You have not purchased any cars.</p>
    <% } else { %>
      <ul id="purchase-list">
        <% purchases.forEach(purchase => { %>
          <li data-car-id="<%= purchase.carId %>" data-purchasedate="<%= purchase.purchaseDate %>">
            Car ID: <%= purchase.carId %> <br>
            Payment Info: <%= JSON.stringify(purchase.paymentInfo) %> <br>
            Date: <%= new Date(purchase.purchaseDate).toLocaleDateString() %>
          </li>
        <% }) %>
      </ul>
    <% } %>
  </div>

  <a href="/">Back to Home</a>

  <script src="/js/booking.js" defer></script>
</body>
</html>
